@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary: #4DBFB5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: goldenrod;
}

.button {
    padding: 12px 24px;
    background: #F3BC19;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 3px;
    font-weight: 500;
}

.button:hover {
    text-decoration: none;
    color: white;
    background: #f3a319;
}

.primary_color {
    background: var(--primary);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

/* hero start  */
.hero-area {
    padding: 80px 0;
}

.hero-image img {
    width: 100%;
}

.hero-text h1 {
    font-weight: 700;
    color: rgb(49, 49, 49);
    font-size: 48px;
    line-height: 52px;
}

.hero-text h1 span {
    color: #4DBFB5;
}

.hero-text p {
    margin: 20px 0px 40px 0px;
}

/* hero end  */
.section-header {
    margin-top: 40px;
}

.section-header h1 {
    font-size: 24px;
}

/* Dashboard Start  */
.side-menu {
    height: 100vh;
    background-color: var(--primary);
}

.side-menu ul li {
    background-color: #40afa6;
    margin-bottom: 0px;

}

.side-menu ul {
    padding-top: 0px;
}

.side-menu ul li a {
    padding: 20px 0;
    display: block;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.side-menu ul li:hover a {
    color: white;
    text-decoration: none;
    background: #34495e;
}

.username span {
    background: #34495e;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}

p.card-text span {
    font-weight: 500;
    color: #c02929;
}

.dashboard-logo h4 a {
    color: white;
}

.dashboard-logo h4 a:hover {
    color: white;
    text-decoration: none;
}

.single-post.h-100 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}

.row>[class*=col-] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* Dashboard End  */